.box {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}
