.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 32px;
}

@media only screen and (max-width: 420px) {
  .main {
    padding: 4px;
  }
}
